.loginContainer{
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
}
.card.loginCard {
    
    margin-top: 1.5rem;
    margin-inline: 1.5rem;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.heading h4 {
    text-align: center;
}
.form {
    margin-bottom: 3rem;
}
.form-group{
    margin: .5rem;
}
#email{
    width: 400px;
}
@media (max-width: 430px) {
    #email{
        width: 350px;
    }
}
@media (max-width: 380px) {
    #email{
        width: 300px;
    }
}